<h1>Who I Am</h1>

<p>A freelance software developer with dabblings in graphic design. My natural ability to tackle problems methodically and accomplish tasks with accuracy has driven me to be a passionate programmer.</p>

<p>I've been programming from a young age, and as technology evolves, I'm able to identify best fit solutions that accelerate developement, ease maintance and reduce cost.</p>

<p>Having the aptitude to rapidly research any topic of interest has, over time, shaped me as an IT generalist. Meaning I can hit the ground running in many fields.</p>

<p>At my best whilst working with others, burning the midnight oil if needed. Other interests include; DSLR video, camping and long distance cycling.</p>

<h1>What I've Done</h1>

<p>The past 4 years working as a freelancer has equipped me with a good understanding in numerous topics. Entirely self taught. These range between:</p>

<ul>
    <li>HTML, CSS and JS</li>
    <li>PHP code modifications</li>
    <li>Graphic Design</li>
    <li>Networking</li>
    <li>Server Administration</li>
    <li>Hardware Installation</li>
</ul>

<p>I'm able to identify solutions that represent real world savings for my clients. This is most notable with my work at Highland Blindcraft. The company will save ~68% in costs with my solution to restructure their network compared to that offered by a local provider.</p>

<p>Going the extra mile for my clients was demonstrated when I was hired to build and install a POS in 4 days. Having no prior experiance with POS systems, the job demanded all my ingenuity. Although the hardware arrived only 24 hours before opening, I worked throughout the night to sucessfully meet the deadline.</p>

<p>If your looking for some late night reading, the source code for this website is available at <a href="https://github.com/stevenrossuk/me" target="_blank">GitHub</a>.</p>

<h1>What I Use</h1>

<p>The technologies I work with are assessed on a per project basis. The following are the ones I find myself using the most (hover over highlighted items for details):</p>

<p>Operating Systems:</p>

<ul>
    <li><a popover data-content="Using my MacBook enables me to build and test software on all major platforms and have access to tools that accelerate the development process." data-trigger="hover">Mac OS X</a></li>
    <li><a popover data-content="Administered many installations in both dedicated and virtual environments. This very website is hosted on a Debian VPS." data-trigger="hover">Debian Linux</a></li>
</ul>

<p>Languages:</p>
<ul>
    <li><a popover data-content="Developed by Google, Go (a C-esque programming language) allows me to be a productive programmer of fast and robust software." data-trigger="hover">Go</a></li>
    <li><a popover data-content="Being using HTML and CSS since I published my first website at the age of 12. Have kept myself up to date with the progressions of the HTML and CSS specification." data-trigger="hover">HTML & CSS</a></li>
    <li><a popover data-content="I make use of JavaScript to construct responsive user interfaces and push the boundaries of what can be achieved inside the browser. In conjunction with Node.js, I'm able to construct client-server application prototypes quickly." data-trigger="hover">JavaScript/Node.js</a></li>
</ul>

<p>Databases:</p>
<ul>
    <li><a popover data-content="I use PostreSQL to guarantee a reliable and performant database for my clients. It's being used at some of the web's biggest organisations." data-trigger="hover">PostgreSQL</a></li>
</ul>

<p>Tools:</p>

<ul>
    <li>git</li>
    <li>Inkscape</li>
    <li>GIMP</li>
    <li>Photoshop</li>
</ul>

<h1>Where I'm Going</h1>

<p>For 2013, I'm working to expand my proficiency in software development by working alongside commercial development teams for weeks at a time at <b>no cost</b>. This is in contrast to the minor freelance work I have undertaken on my own.</p>

<p>If you feel I would be a good candidate to work at your company and can offer a genuine opportunity to integrate and progress in your team, pop me an email using the details below.</p>
